# IDE
.idea
.vscode

# Node dependencies
node_modules

# Node debug
npm-debug.log
package-lock.json
yarn.lock
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Composer
vendor
!assets/js/vendor/
composer.lock

# OS
**.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
._*

# Others
*.diff
*.err
*.orig
*.log
*.sql
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.lock
cache
lintfiles

# Parcel relate files
dist
.cache
