# IDE
.idea
.vscode

# Node
node_modules
npm-debug.log
package-lock.json
yarn.lock

# Composer
vendor
!assets/js/vendor/
composer.lock

# OS
**.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
._*

# Others
*.diff
*.err
*.orig
*.log
*.sql
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.lock
cache
lintfiles
